* {
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
	color: white;
	margin: 0 auto;
	max-width: 1080px;
	padding: 0 25px;
}

body {
	animation: gradient 30s ease infinite;
	background: radial-gradient(circle, #002821 0%, rgb(47, 21, 77) 100%);
	background-size: 400% 400%;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.PageWrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 10px 25px;
}

.BGBlur {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	color: black;
	padding: 20px;
}

.Error {
	color: red;
	font-weight: bold;
}

.Header {
	align-items: center;
	background: #121212;
	display: flex;
	justify-content: space-between;
	padding: 20px 25px;
}

.Header .Logo {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}

.Header nav {
	display: flex;
}
.Header button {
	background: #085de5;
	border-radius: 5px;
}

.Header nav a,
button {
	color: rgb(255, 255, 255);
	font-size: 16px;
	margin: 0 10px;
	padding: 10px 20px;
	text-decoration: none;
}

.Header nav a:last-child {
	margin-right: 0;
	padding-right: 0;
}

/* Login/Create User Box */
.user-info-container {
	background-color: #121212;
	border-radius: 20px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	height: 500px;
	overflow: hidden;
	position: relative;
	width: 295px;
}

.bg-img {
	background: url(./assets/user-info-bg.png) center/ cover;
	height: 300px;
	position: absolute;
	top: -60px;
	width: 100%;
}

.user-info-container::before {
	background: linear-gradient(to top, #121212 65%, transparent);
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.user-info-content {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 330px;
	justify-content: space-evenly;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.user-info-content p {
	color: #737377;
	font-size: 13px;
	width: 260px;
}

.user-info-content p a {
	color: #fff;
	text-decoration: none;
}

.Form {
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

.Form h1 {
	color: #fff;
}

.Form form {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 260px;
}

.Form input,
button {
	border: none;
	border-radius: 2px;
	height: 40px;
	outline: none;
}

.Form input {
	background: #333333;
	margin: 5px 0;
	padding: 0 10px;
	width: 240px;
}

.Form input,
select,
textarea {
	color: #ffffff;
}

.Form input,
textarea:focus,
input:focus {
	color: #ffffff;
}

.Form button {
	background: #085de5;
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
}

/* Editor */
.Editor {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	color: black;
	padding: 20px;
}

/* Toolbar */
.Editor button {
	align-items: center;
	background: #363636;
	border-radius: 10px;
	color: #fff;
	display: flexbox;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
}

.card-container {
	align-content: space-between;
	align-items: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card-container .ListCard {
	flex: 2 2 auto;
	margin: 10px;
	padding-top: 20px;
}

.card-container .ListCard .listTile {
	font-weight: bolder;
	font-size: 25px;
}

.card-container .ListCard .ViewList {
	text-align: right;
}

.card-container .ListCard .ViewList a {
	background-color: #085de5;
	border-radius: 30px;
	padding: 8px;
	text-decoration: none;
}
